.heading {
    text-align: center;
    padding: 0;
}

#table1 {
    font-size: 20px;
}

table {
    border: 5px solid  rgb(176,176,176);
    border-collapse: collapse;
    margin: 10px auto;
    padding: 10px;
}

th, td {
    border: 2px solid  rgb(87,87,87);
    font-size: 13px;
    padding: 10px;
}

tr {
    text-align: center;
}

footer div {
    padding: 50px;
}